/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Teko');

body {
    /* font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; */
    font-family: Teko, Arial, Helvetica, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.hide {
    display: none;
}

/* Portrait layout (default) */
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #eee;
    text-align:center;
    margin:0px;
}

#heart {
    display: inline;
    margin: 10px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size:32px;
    font-weight:normal;
    text-align:center;
    margin: 0 0 20px 0;
    vertical-align: text-top;
    font-family: 'Dancing Script', 'Times New Roman', Times, serif;
}

.tabs {
    width: 100%;
    position: fixed;
    bottom: 0; 
    text-align: center;
}

.hometab,
.savedtab
{
    font-size: 28px;
    display: inline-block;
    padding: 1rem;
    margin: 0; 
    width: 49.7%;
    background-color: #e8eaf6;
    color:#555;
}

.selected {
    color: #4a148c;
    background-color:#e1bee7;
}



/* #content {
    position: absolute;
    top: 10%;
    left: 25%;
    display: block;
    text-align: center;
}

#card {
    width: 90%;
    height: 60%;
    margin: 0 auto;
    display: block;
    background-color: #ede7f6;
    position: absolute;
    top: 20%;
    left: 5%;
} */


#card {
    display: block;
    margin: 0 auto;
    position: absolute;
    background-color: #ede7f6;
    /* top: 10%;
    left: 25%; */
    text-align: center;
    width: 90%;
    height: 60%;
    top: 20%;
    left: 5%;
    transition: transform 0.4s linear;
}

#avatar {
    display: block;
    text-align: center;
    margin: 20px auto;
}

#name {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    font-family: Teko, Arial, Helvetica, sans-serif;
}

.goleft {
    -ms-transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);

}

.goright {
    -ms-transform: translateX(200%); /* IE 9 */
    -webkit-transform: translateX(200%); /* Safari */
    transform: translateX(200%);
}

#buttons {
    position: absolute;
    bottom: 100px; 
    left: 40%;
    text-align: center;
    font-size: 16px;
}

#saved {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.entry {
    /* display: grid; */
    width: 90%;
    margin: 5%;
    background-color: #fff;
    height: 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, auto); 
    grid-gap: 3px;
    /* margin: 10px; */
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eee;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / 4;
    color: #727C8E;
    font-size: 14px;
    margin: 4px;
    vertical-align: middle;
    padding: 12px 5px;
}


.item2 {
    grid-column: 3 / span 4;
    grid-row: 2 / 3;
    font-size: 24px;
    color: #515C6F;
    font-weight: bold;
    margin: 4px;
    padding: 6px 5px;
}

.item3 {
    grid-column: 7;
    grid-row: 2 / 3;
    color: #666;
    /* margin: 4px 0 0 4px; */
    padding: 0;
    /* vertical-align: middle; */
    /* padding: 12px 5px; */
}

/* .item3 > img {
    object-fit: cover;
} */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.msg {
    color: #81d4fa;
    font-size: 50px;
    display: block;
    margin: 200px auto;
    text-align:center;
}

